<form [formGroup]="parametriaPatrimonioFormGroup">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col">
        <h1>Patrimonio Basico</h1>
      </div>
      <div class="col-auto">
        <div class="row">
          <button
            mat-stroked-button
            color="primary"
            (click)="
              this.parametriaPatrimonioFormGroup.value.idPatrimonio
                ? (this.parametriaPatrimonioFormGroup.value.idPatrimonio = null)
                : setNewParametriaMoneda()
            "
          >
            <mat-icon
              [svgIcon]="
                this.parametriaPatrimonioFormGroup.value.idPatrimonio
                  ? 'close'
                  : 'add'
              "
            ></mat-icon>
            {{
              this.parametriaPatrimonioFormGroup.value.idPatrimonio
                ? "Cancelar"
                : "Crear nuevo Patrimonio"
            }}
          </button>
        </div>
      </div>
    </div>
    <!-- Campos del fomulario -->
    <div
      [@openClose]="
        this.parametriaPatrimonioFormGroup.value.idPatrimonio ? 'open' : 'closed'
      "
      class="row justify-content-center overflow-hidden"
    >
      <div class="col-8 mb-5">
        <div class="row">
          <div class="col">
            <h2>
              {{
                this.parametriaPatrimonioFormGroup.value.idPatrimonio !=
                -1
                  ? "Actualizar Patrimonio " 
                  : "Crear Patrimonio"
              }}
            </h2>
          </div>
        </div>
        <div class="row row-cols-2 gx-6">
          <div class="col d-flex justify-content-center">
            <mat-form-field>
              <mat-label>Valor Patrimonio:</mat-label>
              <input type="number" matInput formControlName="patrimonio" />
            </mat-form-field>
          </div>
          <div class="col d-flex justify-content-center">
            <mat-form-field>
              <mat-label>Fecha Patrimonio:</mat-label>
              <input type="date" matInput formControlName="fec_periodo" />
            </mat-form-field>
          </div>
        </div>
       <div class="row justify-content-center">
          <div class="col-6">
            <div class="row">
              <div class="row justify-content-center">
                <div class="row">
                  <app-request-button
                    (click)="onSaveButtonClickedPatrimonio()"
                    [isLoading]="isFormLoading"
                    [disabled]="!getSaveButtonEnabledPatrimonio()"
                    >{{
                      this.parametriaPatrimonioFormGroup.value.idPatrimonio != -1
                        ? "Actualizar patrimonio"
                        : "Crear patrimonio"
                    }}</app-request-button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <h2 color="primary">Versión Patrimonio</h2>
    </div>
    <div class="row">
      <!-- Mantén la tabla genérica tal y como la tienes -->
      <app-shared-table
        [dataSource]="tableDataPatrimonio"
        [columnConfig]="columnConfigPatrimonio"
        [colmunId]="colmunIdPatrimonio"
        [enableSearch]="true"
        [searchValue]="searchValue"
        [searchColumn]="'Usuario'"
        [searchLabel]="'Buscar por usuario'"
        [stateLabel]="tableStateLabel"
        [isProcessing]="isTableLoading"
      ></app-shared-table>
    </div>
  </div>
</form>
